//- about.pug
doctype html
html
  head
    title Dance Academy
    style
        include ../static/style.css
  body
    nav#navbar
        ul  
            li#logo
                a(href='abc')
                    img(src="../static/logo.jpeg" alt="logo")
            li #[a(href='/') Home ]
            li #[a(href='/about') About ]
            li #[a(href='/class') Class ]
            li #[a(href='/services') Services]
            li #[a(href='/contact') Contact]\
    div.faso-de
      div.con-tent 
        h1 Meet the Company
      div.about-img
        img(src="../static/about-img.jpg", alt="image")
    div.main-fea 
      h2 Main Features
    div.feas 
      div.di-vi
      div.di-vi
      div.di-vi
      div.di-vi
      div.di-vi
      div.di-vi
      div.di-vi
      div.di-vi


